/* nar bar */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #82cfd3;
  position: fixed;
  bottom: -1px;
  width: 377px;
  display: flex;
  justify-content: space-around;
  padding: 0 !important;
  height: 59px !important;
  z-index: 7;
  left: -2px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar a:hover {
    /* background: #f1f1f1; */
    /* color: black; */
    animation: zy 2.5s 0.15s linear infinite;
    animation: zy 2.5s 0.15s linear infinite;
    animation: zy 2.5s 0.15s linear infinite;
    animation: zy 2.5s 0.15s linear infinite;
}

.navbar a.active {
    background-color: #04aa6d;
    color: white;
}

.main {
    padding: 16px;
    margin-bottom: 30px;
}

/* bar animation */
@-webkit-keyframes zy {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(5deg);
    }

    40% {
        transform: rotate(-5deg);
    }

    50%,
    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
