
#top {
  background-color: #67bec7;
  height: 10px;
}

@font-face {
  font-family: 'GenJyuuGothic-Regular';
  src: url('../css/genjyuugothic/GenJyuuGothic-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'GenJyuuGothic-Regular', 'Vollkorn', serif;
  }

  #username {
    width: 375px;
    padding: 10px 0;
    font-size: 22px;
    text-align: center;
    color: #515C5C;
    background-color: #f5f5f5;
    font-weight: 600;
} 
.box {
  overflow: auto;
  width: 98%;
  min-height: 567px;
  margin-left: 5px;
  padding-top: 15px;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
}
#lines {
    margin-left: 40px;
    margin-top: 6px;
    transform: translateY(60px);
}
.dot {
    width: 14px;
    height: 14px;
    background: #437980e3;
    border-radius: 7px;
}

.line {
    height: 112px;
    width: 2px;
    background: #d1d6e6;
    margin-left: 5.3px;
}

#cards {
    margin-left: 12px;
    transform: translateY(10px);
}

.card {
  width: 270px;
  padding: 18px 0;
  background: rgba(247, 246, 244, 1);
  box-shadow: 0 2px 2px 0 #eeeeee40;
  border-radius: 7px;
  box-shadow: 0px 16px 15px -10px rgba(105, 96, 215, 0.0944602);
  margin-bottom: 20px;
}

h4 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    margin-left: 25px;
    margin-bottom: 5px;

    color: #3b4d69;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #515C5C;
  margin-left: 25px;
}
