

body {
    height: 100vh;
}

@font-face {
  font-family: 'GenJyuuGothic-Regular';
  src: url('../css/genjyuugothic/GenJyuuGothic-Regular.ttf');
}

* {
  font-family: 'GenJyuuGothic-Regular', 'Vollkorn', serif;
}

button {
  background-color: #F7F6F4;
  width: 90px;
  height: 50px;
  border: 1px solid;
  border-radius: 10px;
  color: #CB9169;
  font-size: 18px;
}
button:hover {
    background: #d58f62;
    color: white;
    border: 1px solid #d58f62;
}

.button_container {
    display: flex;
    justify-content: space-around;
}



.card {
    height: 350px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 15px;
    background-color: rgba(247, 246, 244, 1);
}

a {
    text-decoration: none;
}

.title {
    font-size: 20px;
    text-align: left;
    font-weight: 550;
    color: #d58f62;
    position: relative;
    margin: -3px 0 -10px 0;
}

.chinese {
    font-family: 'Yomogi', cursive;
}

.subtitle {
    color: #a5b2b4;
    text-align: left;
    font-size: 20px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background: transparent;
    box-sizing: border-box;
    margin-top: 7%;
    margin-left: 10%;
    width: 85%;
}


.content {
    margin-left: 24px;
    color: #444645;
    font-size: 18px;
}

.col:nth-child(2n) {
    border-left: solid 2px #d58f63;
}

.col {
    align-items: center;
    width: 315px;
    height: 60px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 10px;
    border-bottom: rgba(247, 246, 244, 1) 2px solid;
}

#reminder {
    width: 100%;
    top: 0px;
}

#button_container {
    display: flex;
}

#list {
    padding-left: 21px;
}

#list>li {
    line-height: 29px;
}

#pitch_reminder {
    border-bottom: 0px solid black;
    margin-bottom: 5px;
    color: #5C5C5B;
}

#reminder_content {
    padding-left: 7px;
    border: 4px solid black;
    margin-bottom: 20px;
    color: #5C5C5B;
    font-size: large;
    padding: 7px;
}