/* 自訂 */
@font-face {
    font-family: 'GenJyuuGothic-Light';
    src: url('../css/genjyuugothic/GenJyuuGothic-Light.ttf');
}

@font-face {
    font-family: 'GenJyuuGothic-Regular';
    src: url('../css/genjyuugothic/GenJyuuGothic-Regular.ttf');
}

* {
    font-family: 'GenJyuuGothic-Regular', 'Vollkorn', serif;
}

main {
    height: 667px;
    overflow: auto;
}

.card-title {
    font-weight: bold;
}

.container {
    overflow: hidden;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
}



#pitchTopic {
    width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

.container > .chinese {
    font-family: 'Yomogi', cursive;
    margin: 0;
}

.questionImg {
    height: 25vh;
    object-fit: contain;
    border-bottom: 2px solid #e8e8e8;
}

body {
    padding-bottom: 70px;
}

.inner_border {
    border: 1px solid #fadec5cb;
}
.form-group-label {
    margin-top: -9px;
    margin-right: 27px;
    font-size: 12px;
    background: #fff;
    color: #b0b0b0;
    right: 0;
}

.question-board {
    background: #fff;
    padding: 10px;
    margin: 10px 10px;
    cursor: pointer;
    box-shadow: 0 2px 2px #bbbaba;
    border: 1px solid #fadec5cb;
}
