@-webkit-keyframes zy {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(5deg);
    }

    40% {
        transform: rotate(-5deg);
    }

    50%,
    100% {
        transform: rotate(0deg);
    }
}
@-webkit-keyframes fade {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* body {
    margin: 0;
    padding: 0;
    width: 375px;
    height: 100vh;
} */
.recording {
    display: none;
}
.start {
    /* display: none; */
}
#count-down {
    /* display: none; */
    position: fixed;
    width: 100px;
    height: 100px;
    font-size: 90px;
    text-align: center;
    left: 137.5px;
    top: 166.8px;
    border: solid 2px #d58f62;
    border-radius: 150px;
    color: #d58f62;
    z-index: 7;
}

.confirm-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 30%;
    width: 40%;
    text-align: center;
    padding-top: 120px;
}
.confirm-button > button {
    padding: 7px 12px;
    width: fit-content;
    font-size: 18px;
    margin-top: 23px;
    border-radius: 20px;
    border: 2px solid #f2948d;
    color: #cc7b75;
    background-color: #f2e3d693;
    display: block;
}
button {
    width: 15px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}
#timer {
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    font-size: 20px;
    color: red;
    left: 18.8px;
    top: 27px;
}

.rec {
    position: fixed;
    width: 45px;
    right: 18.75px;
    top: 20px;
    animation: fade 800ms infinite;
}

.ga {
    position: fixed;
    width: 125px;
    left: 90px;
    bottom: 7px;
    animation: zy 2.5s 0.15s linear infinite;
    animation: zy 2.5s 0.15s linear infinite;
    animation: zy 2.5s 0.15s linear infinite;
    animation: zy 2.5s 0.15s linear infinite;
}

.miko {
    position: fixed;
    width: 125px;
    left: 3px;
    bottom: 30px;
    animation: zy 2.5s 0.15s linear infinite;
    animation: zy 2.5s 0.15s linear infinite;
    animation: zy 2.5s 0.15s linear infinite;
    animation: zy 2.5s 0.15s linear infinite;
}

.zeus {
    position: fixed;
    width: 150px;
    left: 150px;
    bottom: 50px;
    animation: zy 2.5s 0.15s linear infinite;
    animation: zy 2.5s 0.15s linear infinite;
    animation: zy 2.5s 0.15s linear infinite;
    animation: zy 2.5s 0.15s linear infinite;
}

.miu {
    position: fixed;
    width: 131.3px;
    left: 259px;
    bottom: 20px;
    animation: zy 2.5s 0.15s linear infinite;
    animation: zy 2.5s 0.15s linear infinite;
    animation: zy 2.5s 0.15s linear infinite;
    animation: zy 2.5s 0.15s linear infinite;
}

.bgimg {
    width: 100%;
    position: fixed;
    bottom: -3.75px;
    right: 0.5px;
}

#loading {
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    width: 375px;
    left: 0;
    top: 0;
    height: 667px;
}


.loading {
  position: fixed;
  top: 264px;
  left: 157.5px;
}

#loading > div {
  background: #F3F3F3;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
  margin-top: -50px;
}
.status {
  margin-top: 4rem;
  color: #adadad;
}