@font-face {
    font-family: 'GenJyuuGothic-Regular';
    src: url('../css/genjyuugothic/GenJyuuGothic-Regular.ttf');
}

* {
    font-family: 'GenJyuuGothic-Regular', 'Vollkorn', serif;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #f5f5f5;
}

* {
    box-sizing: border-box;
}
main {
    height: 667px;
    overflow: auto;
    position: fixed;
    top: -1px;
}
#topic_container {
    position: fixed;
    width: 375px;
    display: flex;
    align-items: center;
    z-index: 2;
}

#topic {
    font-size: 1em;
    width: 349px;
    padding: 2px 5px;
    color: #515c5c;
    letter-spacing: 0.5px;
    font-weight: 600;
    border-radius: 46% 55% / 24% 18%;
    border: 5px solid #f2e3d8;
    margin-left: 16px;
    margin-top: 18px;
    background: #f2e3d6;
}

#video_container {
    width: 375px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 37px;
    z-index: 1;
    padding: 1rem 0;
}

video#video {
    border-radius: 12px;
    border: 8px solid #f2e3d6;
    box-shadow: 0 2px 2px #bbbaba;
}

#transcript_container {
  height: 667px;
  padding: 3rem 0;
  line-height: 2;
  background: #f2e3d6;
  position: relative;
  top: 60px;
  overflow-x: scroll;
}

#text {
    background: #fff;
    margin: 1rem 1.2rem;
    padding: 0.5rem 1.5rem;
    height: 350px;
    overflow: scroll;
    overflow-x: hidden;
}

.hesitation {
    color: red;
}

.long_pause {
  background: white;
  margin: 5px;
  border-bottom: 3px solid rgb(190, 2, 2);
}

.short_pause {
    background: white;
    margin: 5px;
    border-bottom: 3px solid rgb(85, 95, 235);

}

.fast {
    color: rgb(255, 0, 191);
}

.slow {
    color: rgb(143, 180, 236);
}

.relevant {
  color: yellowgreen;
}

#analysis {
  background: #fff;
  margin: 1.2rem 1.2rem;
  padding: 0.5rem 1.5rem;
  height: 66px;
  overflow: scroll;
}


#filter_container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  position: absolute;
  top: 532px;
  left: 50%;
  transform: translateX(-50%);
}

div#fillers {
    background: url('../photos/hesitation.png');
    background-size: cover;
}

div#pauses_before_click,
div#pauses {
    background-image: url('../photos/pau.png');
    background-size: cover;
}

#long_pause,
#short_pause {
    background: #fff;
    margin: 1rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

div#long_pause {
  background-image: url('../photos/longpau.png');
  background-size: 35px 35px;
  background-position: -1px;
}

div#short_pause {
  background-image: url('../photos/shortpau.png');
  background-size: 34px 34px;
  background-position: -1px -1px;
}

div#pace {
  background: url('../photos/pace.png');
  background-size: cover;
}

div#relevancy {
  background: url('../photos/relevancy.png');
  background-size: cover;
}

#fillers,
#pauses,
#pauses_before_click,
#relevancy,
#pace {
    background: #fff;
    margin: 1rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

#long_pause,
#short_pause {
    background: #fff;
    margin: 1rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

#pause {
    position: relative;
}

#pauses_container {
  display: none;
  position: absolute;
  left: 114px;
  bottom: -563px;
  z-index: 100;
}

input#custom_long_pause, input#custom_short_pause {
  width: 17%;
  border: 1px solid;
  box-shadow: 0 0px 2px grey;
  position: relative;
  left: 64%;
  bottom: 71px;
  display: none;
  border-radius: 2px;
  border-color: #F3F3F3;
}

#confirm_long, #confirm_short {
  position: relative;
  left: 83%;
  bottom: 95px;
  display: none;
  background: transparent;
  border: 1px solid #F0C2AA;
}


#description {
    font-size: 14px;
    color: grey;
}
