@media screen and (min-width: 475px) {
    #frame {
        position: absolute;
        top: 50%;
        left: 49.8%;
        transform: translate(-50%, -50%);
        content: url('../iphone_6.png');
        /* z-index: 10; */
    }
}
#iphone {
    margin: 0;
    justify-self: center;
    width: 375px;
    height: 667px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../pitcho_new_login.png');
    background-repeat: no-repeat;
    background-size: 375px auto;
    background-position: 0px 90px;
    /* background-color: black; */
    /* border: solid 2px black; */
}
